/WebGeolocation/WebGeolocation/*.1
/WebGeolocation/WebGeolocation/*.asax
/WebGeolocation/WebGeolocation/obj/Debug/*.cache
/WebGeolocation/WebGeolocation/obj/Release/*.cache
/WebGeolocation/.vs/config/*.config
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.config
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.config
/WebGeolocation/WebGeolocation/bin/roslyn/*.config
/WebGeolocation/WebGeolocation/bin/*.config
/WebGeolocation/WebGeolocation/obj/Release/CSAutoParameterize/original/*.config
/WebGeolocation/WebGeolocation/obj/Release/CSAutoParameterize/transformed/*.config
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/*.config
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/*.config
/WebGeolocation/WebGeolocation/obj/Release/TransformWebConfig/assist/*.config
/WebGeolocation/WebGeolocation/obj/Release/TransformWebConfig/original/*.config
/WebGeolocation/WebGeolocation/obj/Release/TransformWebConfig/transformed/*.config
/WebGeolocation/WebGeolocation/*.config
/WebGeolocation/WebGeolocation/obj/Debug/*.CopyComplete
/WebGeolocation/WebGeolocation/obj/Release/*.CopyComplete
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/Global.asax
/WebGeolocation/packages/EntityFramework.6.2.0/lib/net40/*.dll
/WebGeolocation/packages/EntityFramework.6.2.0/lib/net45/*.dll
/WebGeolocation/packages/EntityFramework.6.2.0/tools/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/net45/pt-br/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/net45/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/netstandard2.0/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Client.pt-br.5.2.4/lib/net45/pt-br/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Core.5.2.4/lib/net45/pt-br/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Core.5.2.4/lib/net45/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Core.pt-br.5.2.4/lib/net45/pt-br/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.WebHost.5.2.4/lib/net45/pt-br/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.WebHost.5.2.4/lib/net45/*.dll
/WebGeolocation/packages/Microsoft.AspNet.WebApi.WebHost.pt-br.5.2.4/lib/net45/pt-br/*.dll
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/lib/net45/*.dll
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.dll
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/net20/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/net35/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/net40/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/net45/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.0/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.3/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/netstandard2.0/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/portable-net40%2Bsl5%2Bwin8%2Bwp8%2Bwpa81/*.dll
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/lib/portable-net45%2Bwin8%2Bwp8%2Bwpa81/*.dll
/WebGeolocation/WebGeolocation/bin/*.dll
/WebGeolocation/WebGeolocation/bin/pt-br/*.dll
/WebGeolocation/WebGeolocation/bin/roslyn/*.dll
/WebGeolocation/WebGeolocation/obj/Debug/*.dll
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/*.dll
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/pt-br/*.dll
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/*.dll
/WebGeolocation/WebGeolocation/obj/Release/*.dll
/WebGeolocation/packages/EntityFramework.6.2.0/tools/*.exe
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/*.exe
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/*.exe
/WebGeolocation/WebGeolocation/bin/roslyn/*.exe
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/*.exe
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/app.config.install.xdt
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/app.config.uninstall.xdt
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/web.config.install.xdt
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/web.config.uninstall.xdt
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/app.config.install.xdt
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/app.config.uninstall.xdt
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/web.config.install.xdt
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/web.config.uninstall.xdt
/WebGeolocation/packages/EntityFramework.6.2.0/tools/*.txt
/WebGeolocation/WebGeolocation/obj/Debug/*.txt
/WebGeolocation/WebGeolocation/obj/Release/*.txt
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/LICENSE.md
/WebGeolocation/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
/WebGeolocation/packages/Microsoft.AspNet.WebApi.5.2.4/Microsoft.AspNet.WebApi.5.2.4.nupkg
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Client.5.2.4/Microsoft.AspNet.WebApi.Client.5.2.4.nupkg
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Client.pt-br.5.2.4/Microsoft.AspNet.WebApi.Client.pt-br.5.2.4.nupkg
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Core.5.2.4/Microsoft.AspNet.WebApi.Core.5.2.4.nupkg
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Core.pt-br.5.2.4/Microsoft.AspNet.WebApi.Core.pt-br.5.2.4.nupkg
/WebGeolocation/packages/Microsoft.AspNet.WebApi.WebHost.5.2.4/Microsoft.AspNet.WebApi.WebHost.5.2.4.nupkg
/WebGeolocation/packages/Microsoft.AspNet.WebApi.WebHost.pt-br.5.2.4/Microsoft.AspNet.WebApi.WebHost.pt-br.5.2.4.nupkg
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0.nupkg
/WebGeolocation/packages/Newtonsoft.Json.11.0.1/Newtonsoft.Json.11.0.1.nupkg
/WebGeolocation/packages/EntityFramework.6.2.0/.signature.p7s
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/.signature.p7s
/WebGeolocation/WebGeolocation/bin/WebGeolocation.pdb
/WebGeolocation/WebGeolocation/obj/Debug/WebGeolocation.pdb
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/WebGeolocation.pdb
/WebGeolocation/WebGeolocation/obj/Release/WebGeolocation.pdb
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
/WebGeolocation/packages/EntityFramework.6.2.0/tools/init.ps1
/WebGeolocation/packages/EntityFramework.6.2.0/tools/install.ps1
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/net45/install.ps1
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/net45/uninstall.ps1
/WebGeolocation/packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
/WebGeolocation/packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
/WebGeolocation/WebGeolocation/Properties/PublishProfiles/WebGeolocation - Web Deploy.pubxml
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csc.rsp
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csi.rsp
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/vbc.rsp
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csc.rsp
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csi.rsp
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/vbc.rsp
/WebGeolocation/WebGeolocation/bin/roslyn/csc.rsp
/WebGeolocation/WebGeolocation/bin/roslyn/csi.rsp
/WebGeolocation/WebGeolocation/bin/roslyn/vbc.rsp
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
/WebGeolocation/WebGeolocation.sln
/WebGeolocation/.vs/WebGeolocation/v15/.suo
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CSharp.Core.targets
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CSharp.Core.targets
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.Managed.Core.targets
/WebGeolocation/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
/WebGeolocation/WebGeolocation/bin/roslyn/Microsoft.CSharp.Core.targets
/WebGeolocation/WebGeolocation/bin/roslyn/Microsoft.Managed.Core.targets
/WebGeolocation/WebGeolocation/bin/roslyn/Microsoft.VisualBasic.Core.targets
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Managed.Core.targets
/WebGeolocation/WebGeolocation/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
/WebGeolocation/packages/EntityFramework.6.2.0/content/net40/App.config.transform
/WebGeolocation/packages/EntityFramework.6.2.0/content/net40/Web.config.transform
/WebGeolocation/packages/Microsoft.AspNet.WebApi.Core.5.2.4/Content/web.config.transform
/WebGeolocation/.vs/WebGeolocation/v15/Server/sqlite3/storage.ide
/WebGeolocation/.vs/WebGeolocation/v15/Server/sqlite3/storage.ide-shm
/WebGeolocation/.vs/WebGeolocation/v15/Server/sqlite3/storage.ide-wal
/WebGeolocation/.vs/WebGeolocation/v15/Server/sqlite3/db.lock
